body {
  background-color: silver;
}
form {
  text-align: center;
  margin-bottom: 20px;
}

#title {
  margin-left: 340px;
}

#categories {
  margin-left: 340px;
}

table thead {
  background-color: #c0c0c0;
}

.size {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.orange {
  background-color: #ffa500;
}

.silver {
  background-color: #c0c0c0;
}
